/* Utilities */

.container {
    max-width: 1100px;
    margin: 0 auto; /* 0 px top & bottom, equidistant left & right. */
    overflow: auto;
    padding: 0 40px;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);   /* 0 horizontal offset, 3px vertical offset, 
    10px blur, r(red) g(green) b(blue) a(alpha or opacity) */
    padding: 20px; 
    margin: 10px; 
}

.btn {
    display: inline-block;
    padding: 10px 30px; /* 10 px top & bottom, 30px left & right. */
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px; /* Rounds the edges of the button. */
}

.btn-outline {
    background-color: transparent;
    border: 1px #fff solid;
}

.btn:hover {
    transform: scale(0.98); /* Causes the buttons to decrease in size slightly when hovering. */
}

/* Backgrounds & Colored Buttons */
.text-center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Or repeat(2, 1fr); */
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr); /* Divides stat section into 3 columns */
}

/* Margin */

.my-1 {             /* Adds a margin to the first h3 of the stats section. */
    margin: 1rem 0; /* 1rem is equal to 16px unless otherwise specified. */
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.my-5 {
    margin: 4rem 0;
}

.m-1 {
    margin: 4rem;
}

.m-2 {
    margin: 4rem;
}

.m-3 {
    margin: 4rem;
}

.m-4 {
    margin: 4rem;
}

.m-5 {
    margin: 4rem;
}

/* Padding */

.py-1 {             
    padding: 1rem 0; 
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}

.py-5 {
    padding: 4rem 0;
}

.p-1 {             
    padding: 1rem 0; 
}

.p-2 {
    padding: 1.5rem 0;
}

.p-3 {
    padding: 2rem 0;
}

.p-4 {
    padding: 3rem 0;
}

.p-5 {
    padding: 4rem 0;
}